<div class="alert alert-dark">
  <span class="titulo">{{titulo}} </span><span class="subtitulo">{{listar}}</span>
</div>
<button class="btn btn-success" type="button" [routerLink]="['/proveedores/form']">Agregar Proveedor</button>

  <hr class="border border-secondary border-3 opacity-75">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Ruc</th>
          <th scope="col">Representate</th>
          <th scope="col">Razon Social</th>
          <th scope="col">Telefono</th>
          <th scope="col">Correo</th>
          <th scope="col">Direccion</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedores">
          <th>{{proveedor.ruc}}</th>
          <td>{{proveedor.representante}}</td>
          <td>{{proveedor.razonsocial}}</td>
          <td>{{proveedor.telefono}}</td>
          <td>{{proveedor.correo}}</td>
          <td>{{proveedor.direccion}}</td>
          <td><button class="btn btn-warning" type="button" name="button" [routerLink]="['/proveedores/form/', proveedor.ruc]">Editar</button></td>
          <td><button class="btn btn-danger" (click)="delete(proveedor)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>