<div class="alert alert-dark">
    <span class="titulo">{{titulo}} </span><span class="subtitulo">{{listar}}</span>
  </div>
  <button class="btn btn-success" type="button" [routerLink]="['/pedidocompras/form']">Agregar Pedido Compra</button>
  
    <hr class="border border-secondary border-3 opacity-75">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">IdPedido</th>
            <th scope="col">Numero de Compra</th>
            <th scope="col">Fecha de Pedido</th>
            <th scope="col">CodTrabajador</th>
            <th scope="col">Ver Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedidocompra of pedidocompras">
            <th>{{ pedidocompra.idpedido }}</th>
            <td>{{ pedidocompra.numbercompra }}</td>
            <td>{{ pedidocompra.fechapedido | date:'dd-MM-yyyy' }}</td>
            <td>{{ getNombreTrabajador(pedidocompra.codtrabajador) }}</td>
            <td><button class="btn btn-warning" type="button" name="button" [routerLink]="['/pedidocompras/detalle/', pedidocompra.idpedido]">Ver Detalle</button></td>
          </tr>
          
        </tbody>
      </table>